/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Place child img as a full screen background
/// @param {Color} $safe-bg-color
@mixin full-screen-bg($safe-bg-color: white) {
  position: relative;
  &__background {
    background: $safe-bg-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
  }
}

/// Center children vertically, horizontally or both
/// @param {String} $position
@mixin center($position: both) {
  display: flex;
  @if $position == 'both' {
    align-items: center;
    justify-content: center;
  } @else if $position == 'vertical' {
    align-items: center;
  } @else if $position == 'horizontal' {
    justify-content: center;
  } @else if $position == 'none' {
    align-items: stretch;
    justify-content: flex-start;
  }
}

/// Making container
@mixin container {
  max-width: v(max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;

  @each $breakpoint, $value in $breakpoints {
    @include respond-above($breakpoint) {
      padding: 0;
      width: calc(#{$value} - 2em);
    }
  }
}

/// Works in tandem with the real-vh-height.js function to display sections correctly on mobiles
/// @param {Number} $height
@mixin real-vh-height($height: 100) {
  height: #{$height}vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * #{$height});
}

/// Initialize css variables
@mixin v-init($vs) {
  @each $property, $value in $vs {
    --#{$property}: #{$value};
  }
}
